@font-face {
  font-family: "Thunder City";
  src: url("/fonts/thunder/Thunder-SemiBoldLC.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Thunder City";
  src: url("/fonts/thunder/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Thunder City";
  src: url("/fonts/thunder/Thunder-BlackLC.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

.title {
  contain: layout;
}
